.Botões-Principais {
    justify-content: center ;
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 60px;
    width: 100vw;
}
.Home {
    color: black;
}
.Sobre {
    color: black;
}
.Contato {
    color: black;
}
img {
    width: 100px;
    margin: 0;
}
.container-geral{
    margin-left: 0;
    padding-left: 0;
}
.container-img{
    margin-left: 0;
    padding: 0;
}
.Pesquisa-principal {
    width: auto;
    margin: auto;
    
}