.Botões-Principais {
    justify-content: center ;
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 60px;
    width: 100vw;
}
.Home {
    color: black;
}
.Sobre {
    color: black;
}
.Contato {
    color: black;
}
#imgg {
    width: 100px;
    margin: 0;
}
.container-geral{
    margin-left: 0;
    padding-left: 0;
}
.container-img{
    margin-left: 0;
    padding: 0;
}

.Pesquisa-principal input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    margin-left: auto;
    margin-right: 0;
    padding-left: 0;
}
.Pesquisa-principal button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}
.Pesquisa-principal button:hover {
    background-color: #0056b3;
}
#direita-1  {
   border-radius: 10px; 
   margin-right: auto;  
    display: flex;
    flex-direction: column;
    width: 200px;
}
#botton-021 {
    background-color: black;
    margin: auto;
    margin-top: 1000px;
    color: white;
    padding: 30px;
}



/* Estilos para a página de contato */
